@model IEnumerable<Bitirme.Eticaret.Core.Model.Entity.Basket>


<br />
<table class="table">
    <tr>
        <th>
            Ürün Adı
        </th>
        <th>
            Ürün Adedi
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>

        <td>
            @Html.ActionLink("Sil", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
